*, *:before, *:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --grid: 12;
  --grid-container-width: 1200px;
  --grid-container-gap: 15px;
  --grid-col-gap: 30px;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

[class^="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}

.col-xs-1 {
  width: 8.3333333%;
}

.col-xs-2 {
  width: 16.666667%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.33333%;
}

.col-xs-5 {
  width: 41.6666667%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.3333333%;
}

.col-xs-8 {
  width: 66.6666667%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.33333333%;
}

.col-xs-11 {
  width: 91.6666666667%;
}

.col-xs-12 {
  width: 100%;
}

@media (min-width: 768px) {
  .col-sm-1 {
    width: 8.3333333%;
  }
  .col-sm-2 {
    width: 16.666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333%;
  }
  .col-sm-5 {
    width: 41.6666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.3333333%;
  }
  .col-sm-8 {
    width: 66.6666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-11 {
    width: 91.6666666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .slider__shadow {
    width: 600px;
    height: 615px;
    top: 250px;
    left: 0px;
    z-index: -1;
  }
}

@media (min-width: 992px) {
  .col-md-1 {
    width: 8.3333333%;
  }
  .col-md-2 {
    width: 16.666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-5 {
    width: 41.6666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.3333333%;
  }
  .col-md-8 {
    width: 66.6666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-11 {
    width: 91.6666666667%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media (min-width: 1100px) {
  .col-lg-1 {
    width: 8.3333333%;
  }
  .col-lg-2 {
    width: 16.666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333%;
  }
  .col-lg-5 {
    width: 41.6666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.3333333%;
  }
  .col-lg-8 {
    width: 66.6666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-11 {
    width: 91.6666666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
.text-box {
  position: relative;
}

.text-box__oval {
  position: absolute;
  width: 79px;
  height: 79px;
  top: -10px;
  left: -10px;
  z-index: -1;
  background-color: #ccc;
  border-radius: 39.5px;
}

.text-box__title {
  color: #2E2A41;
  font-size: 20px;
  margin-bottom: 25px;
}

.text-box__description {
  font-size: 15px;
  color: #7E7FA0;
  font-weight: 15;
  letter-spacing: 0.5px;
  line-height: 25px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-10 {
  margin-top: 10px;
}

.mr-20 {
  margin-top: 20px;
}

.mr-15 {
  margin-top: 15px;
}

.mr-10 {
  margin-top: 10px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-20 {
  margin-top: 20px;
}

.mb-15 {
  margin-top: 15px;
}

.mb-10 {
  margin-top: 10px;
}

.ml-20 {
  margin-top: 20px;
}

.ml-15 {
  margin-top: 15px;
}

.ml-10 {
  margin-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-10 {
  padding-top: 10px;
}

.pr-20 {
  padding-top: 20px;
}

.pr-15 {
  padding-top: 15px;
}

.pr-10 {
  padding-top: 10px;
}

.pb-20 {
  padding-top: 20px;
}

.pb-15 {
  padding-top: 15px;
}

.pb-10 {
  padding-top: 10px;
}

.pl-20 {
  padding-top: 20px;
}

.pl-15 {
  padding-top: 15px;
}

.pl-10 {
  padding-top: 10px;
}

.page-section {
  position: relative;
  margin-top: 50px;
}

.page-section__bg {
  position: absolute;
  z-index: -1;
  top: 190px;
  left: 0;
  width: 40%;
  height: 510px;
  margin-right: 15px;
  background-color: #ccc;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.page-section__bg--left {
  position: absolute;
  z-index: -1;
  top: 130px;
  left: 0;
  width: 40%;
  height: 550px;
  margin-right: 15px;
  background-color: #ccc;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.page-section__bg--all {
  position: absolute;
  z-index: -1;
  top: 30px;
  left: 20px;
  right: 20px;
  width: 97%;
  height: 100%;
  margin-right: 15px;
  background-color: #ccc;
  border-radius: 30px;
}

.image-background {
  position: relative;
  margin-top: 30px;
}

.image-background__bg {
  position: absolute;
  top: 130px;
  left: 0;
  width: 40%;
  height: 100%;
  margin-right: 15px;
  background-color: #ccc;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  z-index: -1;
}

.text-head {
  position: relative;
  margin-bottom: 30px;
}

.text-head__title {
  color: #2E2A41;
  font-size: 20px;
  margin: 30px 0px 25px 0px;
  text-align: center;
}

.text-head__description {
  color: #2E2A41;
  font-size: 15px;
  margin: 0px 0px 0px 10px;
  text-align: center;
}

.slider {
  padding-top: 55px;
  padding-left: 27px;
  position: relative;
}

.slider__description {
  color: #707070;
  font-weight: 500;
  margin-bottom: 36px;
  letter-spacing: 0.5px;
  line-height: 25px;
}

.slider__author {
  color: #2E2A41;
  font-size: 14px;
  font-weight: 800;
}

.slider__oval {
  width: 90px;
  height: 90px;
  border-radius: 45px;
  background-color: #FDF1E7;
  margin-bottom: 20px;
}

.slider__vuong {
  width: 86px;
  height: 62px;
  border: 10px solid #5E68F9;
  position: absolute;
  top: 60px;
  left: 85px;
}

.slider-ovalselect {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 57px 0px 20px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-ovalselect__selected {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: #ccc;
  margin-right: 15px;
  cursor: pointer;
}

.slider-ovalselect__selected--active {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #5E68F9;
  margin-right: 15px;
  cursor: pointer;
}

.feature {
  min-height: 280px;
  background-color: #fff;
  border-radius: 20px;
  position: relative;
  padding: 30px 38px 35px 30px;
  text-align: left;
  cursor: pointer;
  margin: 15px 0px 15px 0px;
}

[class*="feature__oval"] {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  margin-bottom: 30px;
  opacity: 0.5;
}

.feature__oval--1 {
  background-color: #FD9B9B;
}

.feature__oval--2 {
  background-color: #B06BF1;
}

.feature__oval--3 {
  background-color: #45CCDB;
}

.feature__oval--4 {
  background-color: #545CF0;
}

.feature__oval--5 {
  background-color: #F16BAC;
}

.feature__oval--6 {
  background-color: #48DE57;
}

[class^="feature__vuong"] {
  position: absolute;
  top: 60px;
  left: 46px;
  width: 20px;
  height: 30px;
}

.feature__vuong--1 {
  border: 3px solid #FD9B9B;
}

.feature__vuong--2 {
  border: 3px solid #B06BF1;
}

.feature__vuong--3 {
  border: 3px solid #45CCDB;
}

.feature__vuong--4 {
  border: 3px solid #545CF0;
}

.feature__vuong--5 {
  border: 3px solid #F16BAC;
}

.feature__vuong--6 {
  border: 3px solid #48DE57;
}

.feature__description {
  color: #7E7FA0;
  font-size: 15px;
  line-height: 24px;
  font-weight: 15px;
  letter-spacing: 0.5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
/*# sourceMappingURL=styles.css.map */